*{
    margin: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(32, 32, 32);
}

.titulo h2{
    padding-top: 20px;
    font-size:  2.5em;
}
.cabecalho{
    width: 100%;
    height: 80px;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
}

.banner{
    background-image: linear-gradient(rgba(32, 32, 32, 0.726),rgb(32, 32, 32)),  url(../img/fundoj.jpeg);
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
    max-height: 200px;
}

.contato{
    display: inline-flex;
}

.meio-contato{
    padding: 10px;
}

.cor-fundo{
    text-align: center;
    padding: 50px;
}

.texto{
    font-size: 1.5em;
    padding-bottom: 50px;
}

.projeto{
    width: 400px;
    height: 200px;
   justify-content: center;
   filter: grayscale(100%);
   transition: 1s;
   margin: 50px;
}

.cards-projetos{
    padding-top: 20px;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

#projeto-2{
    border: rgb(126, 126, 126) solid 2px;
    width: auto;
    filter: grayscale(100%);
}

#projeto-1:hover {
    filter: grayscale(0%);
    transition: 0.3s;
    margin-top: -3px;
}

.descricao{
    margin-top: 30px;
    padding: 0 !important;
    opacity: 0%;
    transition: 1s;
}

.projeto:hover p{
    opacity: 100%;
    margin-top: 0px;
    transition: 1s;
    
}

#projeto-2:hover {
    filter: grayscale(0%);
    transition: 0.3s;
    margin-top: -3px;
}

.conhecimentos{
    font-size: 18px !important;
}

@media (max-width: 600px) {
    #titu-contato{
        display: none;
    }

    .nome h1{
        font-size: 1.3em;
        padding-top: 10px;
    }

    .meio-contato{
        padding: 5px;
    }

    .cabecalho{
        height: auto;
    }

    .titulo{
        font-size: 0.7em;
    }

    .texto{
        font-size: 1em;
    }

    .projeto img{
        width: 200px;
        object-fit: cover;
        height: 130px;
    }

    #projeto-2{
        height: 130px;
    }

    .descricao{
        opacity: 100%;
    }

    #final{
        padding-top: 150px;
    }
  }
